@using DataTransferObject.DTOClasses.Product.Results
@using MarketPlaceEshop.Areas.Supplier.Models
@using Service.ServiceClasses
@using Shared
@model ProductSupplierViewModel



<div id="tablecontent">
    <div class=" container mb-5 mt-3">
        <div class="w-75 p-2 text-start">
            <h3 class="mb-1">لیست محصولات خودم</h3>
        </div>
        <div class="table-responsive ">
            <table class="table table-sm table-striped table-bordered">
                <thead class="table-primary">
                    <tr>

                        <th scope="row">#</th>
                        <th>تامین کننده</th>
                        <th>نام محصول</th>
                        <th>عنوان محصول</th>
                        <th>تاریخ ثبت</th>
                        <th>دسته بندی</th>
                        <th>برند</th>
                        <th>امتیاز</th>                       
                        <th>موجودی</th>
                        <th>قیمت کل(ریال)</th>
                        <th>تخفیف(ریال)</th>
                        <th>خالص قیمت(ریال)</th>
                        
                        <th>
                           ویرایش
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = (Model.ProductSuppliers.PageIndex - 1) * Model.ProductSuppliers.PageSize + 1;
                    }
                    @foreach (var productSupplier in Model.ProductSuppliers)
                    {
                        <tr>

                            <th scope="row">@(index++)</th>
                            <td>@productSupplier.CompanyName</td>
                            <td>@productSupplier.ProductName</td>
                            <td>@productSupplier.Titel</td>
                            <td>@productSupplier.StartDate.ToAD().ToString("yyyy/MM/dd")</td>
                            <td>@productSupplier.CategoryName</td>
                            <td>@productSupplier.BrandName</td>
                            <td>@productSupplier.AverageScore.ToString("F2")</td>                           
                            <td>@productSupplier.Ventory</td>
                            <td>@productSupplier.Price.ToString("N0")</td>
                            <td>@productSupplier.Discount.ToString("N0")</td>
                            <td>@((productSupplier.Price - productSupplier.Discount).ToString("N0"))</td>

                            <td>
                                <button type="button" class="text-nowrap btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#@string.Concat("Modalinput", productSupplier.Id.ToString())">
                                    ویرایش
                                </button>
                            </td>

                        </tr>

                    }


                </tbody>
            </table>
        </div>




        @foreach (var productSupplier in Model.ProductSuppliers)
        {
           


            <!-- Modal form -->
            <div class="modal fade" id="@string.Concat("Modalinput",productSupplier.Id.ToString())" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">تغیر اطلاعات فروش محصول</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form asp-area="Supplier" asp-controller="Product" asp-action="EditProductSupplier" method="post">
                            <div class="modal-body">
                                <div class="row mb-3">

                                    <div class="col">
                                        <input name="ProductSupplier.ProductId" value="@productSupplier.ProductId" hidden readonly />
                                        <label asp-for="ProductSupplier.Ventory" class="form-label">موجودی</label>
                                        <input asp-for="ProductSupplier.Ventory" type="number" value="@productSupplier.Ventory" class="form-control" placeholder="موجودی محصول" required>
                                        <span asp-validation-for="ProductSupplier.Ventory" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="ProductSupplier.PriceValue" class="form-label">قیمت</label>
                                        <input asp-for="ProductSupplier.PriceValue" type="number" value="@productSupplier.Price" class="form-control" placeholder="قیمت به ریال" required>
                                        <span asp-validation-for="ProductSupplier.PriceValue" class="text-danger"></span>

                                    </div>
                                    <div class="col">
                                        <label asp-for="ProductSupplier.Discount" class="form-label">تخفیف</label>
                                        <input asp-for="ProductSupplier.Discount" type="number" value="@productSupplier.Discount" class="form-control" placeholder="تخفیف به ریال" required>
                                        <span asp-validation-for="ProductSupplier.Discount" class="text-danger"></span>

                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                <button type="submit" class="btn btn-primary">ذخیره</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        }



        <!-- Footer with pagination and rows per page -->
        <div class="d-flex justify-content-between align-items-center mt-3">
            <div>
                <select onchange="getAllProductSuppliers()" id="pagesize" class="form-select form-select-sm" style="width: auto;">
                    @if (Model.ProductSuppliers.PageSize == 1)
                    {
                        <option selected value="1">1</option>
                    }
                    else
                    {
                        <option value="1">1</option>
                    }
                    @if (Model.ProductSuppliers.PageSize == 3)
                    {
                        <option selected value="3">3</option>
                    }
                    else
                    {
                        <option value="3">3</option>
                    }

                    @if (Model.ProductSuppliers.PageSize == 5)
                    {
                        <option selected value="5">5</option>
                    }
                    else
                    {
                        <option value="5">5</option>
                    }
                    @if (Model.ProductSuppliers.PageSize == 10)
                    {
                        <option selected value="10">10</option>
                    }
                    else
                    {
                        <option value="10">10</option>
                    }
                    @if (Model.ProductSuppliers.PageSize == 20)
                    {
                        <option selected value="20">20</option>
                    }
                    else
                    {
                        <option value="20">20</option>
                    }
                    @if (Model.ProductSuppliers.PageSize == 30)
                    {
                        <option selected value="30">30</option>
                    }
                    else
                    {
                        <option value="30">30</option>
                    }





                </select>
            </div>
            <nav>
                <ul class="pagination pagination-sm mb-0">

                    @if (Model.ProductSuppliers.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link paginate_button page-item" asp-area="Supplier" asp-controller="Product" asp-action="GetAllProductSuppliers" asp-route-pageIndex="@(Model.ProductSuppliers.PageIndex-1)" asp-route-pageSize=@Model.ProductSuppliers.PageSize> قبلی </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">قبلی</span>
                        </li>
                    }

                    @for (int i = 1; i <= Model.ProductSuppliers.TotalPages; i++)
                    {
                        if (i == Model.ProductSuppliers.PageIndex)
                        {
                            <li class="page-item active">
                                <span class="page-link">@i <span class="sr-only">(current)</span></span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-area="Supplier" asp-controller="Product" asp-action="GetAllProductSuppliers" asp-route-pageSize=@Model.ProductSuppliers.PageSize asp-route-pageIndex="@i">@i</a>
                            </li>
                        }
                    }

                    @if (Model.ProductSuppliers.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-area="Supplier" asp-controller="Product" asp-action="GetAllProductSuppliers" asp-route-pageIndex="@(Model.ProductSuppliers.PageIndex+1)" asp-route-pageSize=@Model.ProductSuppliers.PageSize>بعدی</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">بعدی</span>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        function getAllProductSuppliers() {
            const PageSize = $("#pagesize").val();

            $.ajax({
                url: "/supplier/product/GetAllProductSuppliers",
                type: "GET",
                data: {
                    pageSize: PageSize
                },
                success: function (response) {
                    var content = $(response).find('#tablecontent').html();

                    $("#tablecontent").html(content);
                },
                error: function (xhr, status, error) {
                    console.error("خطا در ارسال درخواست:", error);
                }
            });

        }



    </script>
}

@section FooterContent {
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}