@using DataTransferObject.DTOClasses.Review.Results
@using Microsoft.Extensions.Internal
@using Service.ServiceClasses
@model PaginatedList<CommentResult>


<div id="tablecontent">
    <div class=" container mt-5">
        <!-- Header with actions -->
        <!-- Table -->
        <div class="table-responsive ">
            <table class="table table-sm table-striped table-bordered">
                <thead class="table-primary">
                    <tr>

                        <th scope="row">#</th>
                        <th>نام محصول</th>
                        <th>نام نویسنده</th>
                        <th>تاریخ ثبت</th>
                        <th>نظر</th>
                       

                        <th>
                            تعیین وضعیت
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = (Model.PageIndex - 1) * Model.PageSize + 1;
                    }
                    @foreach (var comment in Model)
                    {
                        <tr>
                            <th scope="row">@(index++)</th>
                            <td>@comment.ProductName</td>
                            <td>@comment.FullName</td>
                            <td>@comment.DateOfRegistration</td>
                            <td> 
                                <button type="button" class="text-nowrap btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#@string.Concat("Modal", comment.Id.ToString())">
                                    نظر
                                </button>                           
                            </td>

                            <td>
                                <button type="button" onclick="ConfirmComment('@comment.Id','@(Model.Count()== 1?( Model.PageIndex-1<=0? 1 :Model.PageIndex-1 ): Model.PageIndex)')" class="btn btn-sm btn-success">تایید</button>
                                <button type="button" onclick="RejectComment('@comment.Id','@(Model.Count()== 1? ( Model.PageIndex-1<=0? 1 :Model.PageIndex-1 ): Model.PageIndex)')" class="btn btn-sm btn-danger">رد</button>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>

            @foreach (var comment in Model)
            {
                <!-- Modal product details -->

                <div class="modal fade" id="@string.Concat("Modal",comment.Id.ToString())" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title secondary-font" id="modalProductViewTitle">متن نظر </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6 class="text-muted mb-3"></h6>
                                <div class="row g-3">
                                    <p>
                                        @comment.CommentText
                                    </p>
                                </div>
                               
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">بستن</button>
                            </div>
                        </div>
                    </div>
                </div>


            }
        </div>
        <!-- Footer with pagination and rows per page -->
        <div class="d-flex justify-content-between align-items-center mt-3">
           
            <nav>
                <ul class="pagination pagination-sm mb-0">

                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link paginate_button page-item  " asp-area="Admin" asp-controller="FeedBack" asp-action="Comments" asp-route-PageIndex="@(Model.PageIndex-1)"> قبلی </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">قبلی</span>
                        </li>
                    }

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.PageIndex)
                        {
                            <li class="page-item active">
                                <span class="page-link">@i <span class="sr-only">(current)</span></span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-area="Admin" asp-controller="FeedBack" asp-action="Comments"  asp-route-PageIndex="@i">@i</a>
                            </li>
                        }
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-area="Admin" asp-controller="FeedBack" asp-action="Comments" asp-route-PageIndex="@(Model.PageIndex+1)" >بعدی</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <span class="page-link">بعدی</span>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        function getCommentPage(pageIndex) {

            $.ajax({
                url: "/Admin/FeedBack/Comments",
                type: "GET",
                data: { pageIndex: pageIndex },
                success: function (response) {
                    var content = $(response).find('#tablecontent').html();

                    $("#tablecontent").html(content);
                },
                error: function (xhr, status, error) {
                    console.error("خطا در ارسال درخواست:", error);
                }
            });

        }





        function ConfirmComment(Id,pageIndex) {
            $.ajax({
                url: '/admin/FeedBack/ConfirmComment',
                type: "Post",
                data: { commentId: Id},
                success: function (response) {

                    getCommentPage(pageIndex);
                }
            });
        }


        function RejectComment(Id, pageIndex) {

            $.ajax({
                url: '/admin/FeedBack/RejectComment',
                type: "Post",
                data: { commentId: Id},
                success: function (response) {

                    getCommentPage(pageIndex);
                }
            });
        }

    </script>
}
