@using DataTransferObject.DTOClasses.Product.Results
@using Shared
@model ProductResult

@section HeadContent {
    <style>
        #ratingSection {
            display: inline-block;
            margin-bottom: 20px;
        }

        .rating-stars {
            display: flex;
            direction: rtl;
            font-size: 50px; /* اندازه ستاره‌ها بزرگتر شد */
            line-height: 1;
        }

            .rating-stars .fa-star {
                color: #ccc;
                cursor: pointer;
                transition: color 0.3s;
                margin: 0 5px; /* فاصله بین ستاره‌ها */
            }

                .rating-stars .fa-star.active,
                .rating-stars .fa-star.selected {
                    color: #ffcc00; /* رنگ ستاره‌های انتخابی */
                }

        #submitRating {
            margin-top: 15px;
            font-weight: 700;
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

            #submitRating:hover {
                background-color: #0056b3;
            }
    </style>
}
<!--------------------------------- Main Content -->
<main class="main-content dt-sl mb-3">
    <div class="container main-container">




        <!-- Start title - breadcrumb -->
        @*          مسیر و دسته بندی های پدر
        *@     @*    <div class="title-breadcrumb-special dt-sl mb-3">
        <div class="breadcrumb dt-sl">
        <nav>
        <a href="#">
        موبایل
        <i class="fa fa-caret-left"></i>
        </a>
        <a href="#">
        سامسونگ
        <i class="fa fa-caret-left"></i>
        </a>
        <a href="#">مدل Samsung Galaxy Mobile Phone</a>
        </nav>
        </div>
        </div> *@
        <!-- End title - breadcrumb -->
        <!-- Start Product -->
        <div class="dt-sn mb-5 dt-sl">
            <div class="row">
                <!-- Product Gallery-->
                <div class="col-lg-4 col-md-6 ps-relative">
                    <!-- Product Options-->

                    <div class="product-timeout position-relative pt-5 mb-3">

                        @if (Model.productSuppliers.Any(x => x.Discount > 0))
                        {
                            <div class="promotion-badge">
                                فروش ویژه
                            </div>
                        }


                    </div>
                    <div class="product-gallery">
                        @if (Model.productSuppliers.Any(x => x.Discount > 0))
                        {
                            <span class="badge">تخفیف</span>
                        }

                        <div class="product-carousel owl-carousel" data-slider-id="1">


                            @foreach (var image in Model.Images)
                            {
                                <div class="item">

                                    <img src="@image.Path.Replace(@"C:\Users\m\source\repos\start\MarketPlaceEshop\MarketPlaceEshop\bin\Debug\net8.0\", @"\")" alt="Product">

                                </div>
                            }



                        </div>
                        <div class="d-flex justify-content-center flex-wrap">
                            <ul class="product-thumbnails owl-thumbs ml-2" data-slider-id="1">

                                @foreach (var image in Model.Images)
                                {
                                    <li class="owl-thumb-item active">
                                        <a href="@image.Path.Replace(@"C:\Users\m\source\repos\start\MarketPlaceEshop\MarketPlaceEshop\bin\Debug\net8.0\", @"\")">
                                            <img src="@image.Path.Replace(@"C:\Users\m\source\repos\start\MarketPlaceEshop\MarketPlaceEshop\bin\Debug\net8.0\", @"\")" alt="Product">
                                        </a>
                                    </li>
                                }


                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Product Info -->
                <div class="col-lg-8 col-md-6 py-2">
                    <div class="product-info dt-sl">
                        <div class="product-title dt-sl mb-3">
                            <h1>
                                @Model.Name
                            </h1>
                            <h3>@Model.Titel</h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                                <div class="product-params dt-sl">


                                    <ul data-title="ویژگی‌های محصول">
                                        @{
                                            int max = 7;
                                        }
                                        @foreach (var feature in Model.ProductFeatureValues)
                                        {

                                            max--;
                                            if (max <= 0)
                                            {
                                                break;
                                            }


                                            <li>
                                                <span>@feature.FeatureName </span>
                                                <span> @feature.FeatureValue </span>

                                            </li>
                                        }


                                    </ul>
                                    <div class="sum-more">
                                        <span class="show-more btn-link-border">
                                            + موارد بیشتر
                                        </span>
                                        <span class="show-less btn-link-border">
                                            - بستن
                                        </span>
                                    </div>
                                </div>
                                <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                    <h2>کد محصول:@Model.Id.ToString().Substring(0, 8)</h2>

                                </div>
                            </div>
                            @*      بخش جلوی عکس که قیمت هست برای دو حالت با تخفیف و بدون تخفیف
                            *@

                            @if (Model.productSuppliers.Any(x => x.Discount > 0))
                            {
                                <div class="col-lg-6">
                                    <div class="product-guaranteed">
                                        <i class="fas fa-badge-check"></i>
                                        <p>  @((Model.productSuppliers.Max(x => x.Discount) / 10).ToString("N0")) تومان تخفیف به مدت محدود</p>
                                    </div>
                                    <div class="product-summary">
                                        <nav id="stack-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="product-seller-row-main">
                                                            <img src="./assets/img/seller-logo.png" alt="">
                                                            <div class="font-weight-bold  product-seller-first-line">
                                                                فروشنده:
                                                                <span class="font-weight-bold text-bg-dark product-seller-name">@Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.CompanyName </span>

                                                            </div>

                                                        </div>
                                                    </a>

                                                </li>
                                                <li>

                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-box-check product-delivery-warehouse"></i>
                                                        موجود در انبار دیجی مارکت
                                                    </a>
                                                    <ul class="product-seller-box--shadowed">
                                                        <div class="product-info-box-body-wrapper">
                                                            <div class="product-info-box-body">
                                                                <div class="shipment-info-box-row">
                                                                    <div class="font-weight-bold">
                                                                        <span>
                                                                            آماده ارسال
                                                                        </span>
                                                                    </div>
                                                                    <div class="u-text-spaced">
                                                                        این کالا در انبار دیجی مارکت موجود و آماده
                                                                        پردازش است.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="product-seller-row product-seller-row--price">
                                                <div class="product-seller-price-info">
                                                    <div class="product-seller-price-prev">
                                                        @((Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Price / 10).ToString("N0"))
                                                    </div>
                                                    <div class="product-seller-price-off">
                                                        @((Model.productSuppliers.Max(x => x.Discount) / Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Price * 100).ToString("N2"))%

                                                    </div>
                                                </div>
                                                <div class="product-seller-price-real">
                                                    <div class="product-seller-price-raw">@(((Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Price - Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Discount) / 10).ToString("N0"))</div>
                                                    تومان
                                                </div>
                                                <div class="product-additional-item product-additional-item--no-icon">
                                                    <span> @((Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Discount / 10).ToString("N0"))</span>&nbsp;تومان تخفیف کسر گردیده است.
                                                </div>
                                            </div>
                                            <div class="product-seller-row product-seller-row--add-to-cart">
                                                <a href="#" class="btn-add-to-cart btn-add-to-cart--full-width">
                                                    <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                </a>
                                                <div class="product-seller-digiclub">
                                                    <img src="./assets/img/digiclub.png" alt="">

                                                </div>
                                            </div>
                                            @if (Model.productSuppliers.Count() > 1)
                                            {
                                                <div class="other-seller">
                                                    <a href="#product-seller-all">

                                                        <div class="product-seller-row-main">
                                                            <span class="font-weight-bold">
                                                                <span id="more-suppliers-count">@(Model.productSuppliers.Count() - 1)</span>
                                                                فروشنده
                                                            </span>
                                                            دیگر این کالا
                                                        </div>
                                                        <div class="product-seller-row-info">
                                                            مشاهده
                                                        </div>
                                                    </a>
                                                </div>
                                            }

                                        </nav>
                                    </div>
                                </div>
                            }
                            else if (Model.productSuppliers.Any())
                            {
                                <div class="col-lg-6">

                                    <div class="product-summary">
                                        <nav id="stack-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="product-seller-row-main">
                                                            <img src="./assets/img/seller-logo.png" alt="">
                                                            <div class="font-weight-bold  product-seller-first-line">
                                                                فروشنده:
                                                                <span class="font-weight-bold text-bg-dark product-seller-name">@Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.CompanyName </span>

                                                            </div>

                                                        </div>
                                                    </a>

                                                </li>
                                                <li>

                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-box-check product-delivery-warehouse"></i>
                                                        موجود در انبار دیجی مارکت
                                                    </a>
                                                    <ul class="product-seller-box--shadowed">
                                                        <div class="product-info-box-body-wrapper">
                                                            <div class="product-info-box-body">
                                                                <div class="shipment-info-box-row">
                                                                    <div class="font-weight-bold">
                                                                        <span>
                                                                            آماده ارسال
                                                                        </span>
                                                                    </div>
                                                                    <div class="u-text-spaced">
                                                                        این کالا در انبار دیجی مارکت موجود و آماده
                                                                        پردازش است.
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="product-seller-row product-seller-row--price">
                                                <div class="product-seller-price-info">
                                                </div>
                                                <div class="product-seller-price-real">
                                                    <div class="product-seller-price-raw">@(((Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Price - Model.productSuppliers.OrderByDescending(x => x.Discount).FirstOrDefault()!.Discount) / 10).ToString("N0"))</div>
                                                    تومان
                                                </div>

                                            </div>
                                            <div class="product-seller-row product-seller-row--add-to-cart">
                                                <a href="#" class="btn-add-to-cart btn-add-to-cart--full-width">
                                                    <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                </a>
                                                <div class="product-seller-digiclub">
                                                    <img src="./assets/img/digiclub.png" alt="">

                                                </div>
                                            </div>
                                            @if (Model.productSuppliers.Count() > 1)
                                            {
                                                <div class="other-seller">
                                                    <a href="#product-seller-all">

                                                        <div class="product-seller-row-main">
                                                            <span class="font-weight-bold">
                                                                <span id="more-suppliers-count">@(Model.productSuppliers.Count() - 1)</span>
                                                                فروشنده
                                                            </span>
                                                            دیگر این کالا
                                                        </div>
                                                        <div class="product-seller-row-info">
                                                            مشاهده
                                                        </div>
                                                    </a>
                                                </div>
                                            }

                                        </nav>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6">

                                    <div class="product-summary">
                                        <nav id="stack-menu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="product-seller-row-main">
                                                            <img src="./assets/img/seller-logo.png" alt="">

                                                        </div>
                                                    </a>

                                                </li>
                                                <li>

                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="far fa-box-check product-delivery-warehouse"></i>
                                                        فعلا موجود نیست
                                                    </a>

                                                </li>
                                            </ul>
                                            <div class="product-seller-row product-seller-row--price">
                                                <div class="product-seller-price-info">
                                                </div>


                                            </div>
                                            <div class="product-seller-row product-seller-row--add-to-cart">
                                                <a href="javascript:void(0)" class="btn-add-to-cart btn-add-to-cart--full-width">
                                                    <span class="btn-add-to-cart-txt">ناموجود</span>
                                                </a>
                                                <div class="product-seller-digiclub">
                                                    <img src="./assets/img/digiclub.png" alt="">

                                                </div>
                                            </div>
                                            @if (Model.productSuppliers.Count() > 1)
                                            {
                                                <div class="other-seller">
                                                    <a href="#product-seller-all">

                                                        <div class="product-seller-row-main">
                                                            <span class="font-weight-bold">
                                                                <span id="more-suppliers-count">@(Model.productSuppliers.Count() - 1)</span>
                                                                فروشنده
                                                            </span>
                                                            دیگر این کالا
                                                        </div>
                                                        <div class="product-seller-row-info">
                                                            مشاهده
                                                        </div>
                                                    </a>
                                                </div>
                                            }

                                        </nav>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="mb-add-to-cart-btn-wrapper">
                <a href="#" class="mb-add-to-cart-btn">افزودن به سبد خرید</a>
            </div> -->
        </div>
        <!-- sellers -->
        <div class="product-sellers shadow-around mb-5" id="product-seller-all">
            @foreach (var productSupplier in Model.productSuppliers)
            {
                <div class="product-seller">
                    <div class="product-seller-col">
                        <div class="product-seller-title">
                            <div class="icon">
                                <i class="fas fa-store-alt"></i>
                            </div>
                            <div class="detail">
                                <div class="name">
                                    @productSupplier.CompanyName @if (productSupplier.Discount > 0)
                                    {
                                        <span class="badge value badge-light rounded-pill">فروش ویژه</span>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="product-seller-col">
                        <div class="product-seller-conditions">
                            <div class="product-seller-info">
                                <i class="fad fa-truck-container"></i>
                                <span>ارسال از دیجی مارکت</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-seller-col">
                        <div class="product-seller-guarantee">
                            <div class="product-seller-info">
                                @if (productSupplier.Discount > 0)
                                {
                                    <i class="fad fa-shield-check"></i>
                                    <span>@(((productSupplier.Price - productSupplier.Discount) / 10).ToString("N0")) تومان تخفیف</span>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="product-seller-col">
                        <div class="product-seller-price-action">
                            <div class="product-seller-price">@(productSupplier.Price - productSupplier.Discount)<span class="currency">تومان</span></div>
                            <div class="product-seller-action">
                                <a href="#" class="btn btn-outline-danger">
                                    افزودن به
                                    سبد
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
        <div class="dt-sn mb-5 px-0 dt-sl pt-0">
            <!-- Start tabs -->
            <section class="tabs-product-info mb-3 dt-sl">
                <div class="ah-tab-wrapper border-bottom dt-sl">
                    <div class="ah-tab dt-sl">
                        <a class="ah-tab-item" data-ah-tab-active="true" href="">
                            <i>
                                <svg width="23px" height="23px" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--noto" preserveAspectRatio="xMidYMid meet">
                                    <g opacity=".8" fill="#90caf9">
                                        <path d="M52.44 53.27c-1.03-1.71-3.17-5.28-18.55-5.69c-10.54-.36-16.68.93-18.81 3.97c-.93 1.46-1.85 5-.95 13.57c1.56 14.33 8.76 14.71 17.89 15.18l.69.04c.99.05 1.92.08 2.8.08c12.94 0 15.2-5.65 16.86-13.48c1.48-6.67 1.51-11.26.07-13.67z">
                                        </path>
                                        <path d="M112.7 51.51c-2.1-3.01-8.24-4.29-18.78-3.93c-15.39.42-17.53 3.98-18.56 5.69c-1.44 2.41-1.42 7 .08 13.64c1.67 7.85 3.92 13.49 16.86 13.49c.88 0 1.82-.03 2.8-.08l.69-.04c9.12-.47 16.33-.85 17.89-15.18c.89-8.55-.03-12.09-.98-13.59z">
                                        </path>
                                    </g>
                                    <path d="M123.8 47.84s-1-1.7-19.03-3.41c-18.93-1.8-28.35 2-32.25 4.41c-.7.3-1.9.6-3.31.5h-.3c-1.9-.1-3.61-.2-5.61-.2h-.1c-1.1 0-3.51.1-5.21.2c-.8.1-1.5 0-2.1-.2c-3.61-2.4-13.02-6.61-32.75-4.71C5.1 46.14 4.1 47.84 4.1 47.84L4 54.65s2.7.8 4.41 2.9c1.7 2.1 2.5 14.12 5.41 19.73c4.4 8.72 26.14 6.52 26.14 6.52s8.91.7 13.22-6.81c3.71-6.41 5.21-15.43 5.61-17.63c.9-.9 2.6-2 5.11-2.1c2.8 0 4.61 1.4 5.41 2.4c.4 2.7 1.9 11.22 5.51 17.33c4.31 7.51 13.22 6.81 13.22 6.81s21.74 2.2 26.14-6.51c2.8-5.61 3.61-17.63 5.41-19.73c1.7-2.2 4.41-2.9 4.41-2.9l-.2-6.82zM51.38 66.71c-1.7 8.01-3.91 13.42-18.63 12.62c-9.52-.5-16.13-.5-17.63-14.32c-.9-8.61.1-11.82.8-12.92c.7-1 3.21-4.01 17.93-3.51c14.72.4 16.83 3.71 17.73 5.21c.9 1.5 1.6 4.91-.2 12.92zm61.3-1.7c-1.5 13.82-8.11 13.82-17.63 14.32c-14.72.8-16.93-4.61-18.63-12.62c-1.8-8.01-1.1-11.42-.2-12.92c.9-1.5 3.01-4.81 17.73-5.21c14.72-.5 17.23 2.5 17.93 3.51c.7 1.1 1.7 4.3.8 12.92z" fill="#804833">
                                    </path>
                                    <path d="M26.82 52.22c4.33-.84 5.79 1.26 5.37 3.14c-.77 3.47-4.11 1.62-9 4.6c-2.06 1.26-2.9 2.16-3.66 2.13c-.73-.03-1.36-.78-1.01-2.2c.63-2.58 1.68-6.39 8.3-7.67z" opacity=".7" fill="#ffffff">
                                    </path>
                                    <path d="M83.66 53.21c1.77-.99 6.74-1.88 7.27.73c.54 2.69-1.99 3.43-3.78 4.04c-4.23 1.44-4.93 3.49-5.81 4.05c-.59.37-2.33 1.21-2.14-1.34c.22-3.24 1.28-5.69 4.46-7.48z" opacity=".7" fill="#ffffff">
                                    </path>
                                </svg>
                            </i>نقد و بررسی
                        </a>
                        <a class="ah-tab-item" href="">
                            <i>
                                <svg width="18px" height="18px" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9 42C11.2091 42 13 40.2091 13 38C13 35.7909 11.2091 34 9 34C6.79086 34 5 35.7909 5 38C5 40.2091 6.79086 42 9 42Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linejoin="round" />
                                    <path d="M9 14C11.2091 14 13 12.2092 13 10C13 7.79086 11.2091 6 9 6C6.79086 6 5 7.79086 5 10C5 12.2092 6.79086 14 9 14Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linejoin="round" />
                                    <path d="M9 28C11.2091 28 13 26.2092 13 24C13 21.7908 11.2091 20 9 20C6.79086 20 5 21.7908 5 24C5 26.2092 6.79086 28 9 28Z" fill="#2F88FF" stroke="#000000" stroke-width="4" stroke-linejoin="round" />
                                    <path d="M21 24H43" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21 38H43" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M21 10H43" stroke="#000000" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            مشخصات
                        </a>
                        <a class="ah-tab-item" href="">
                            <i>
                                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.17157 6.17157C4 7.34315 4 9.22876 4 13V17V18.5858C4 19.4767 5.07714 19.9229 5.70711 19.2929L7.85355 17.1464C7.92581 17.0742 7.96194 17.0381 8.00788 17.019C8.05383 17 8.10492 17 8.20711 17H14C15.8638 17 16.7956 17 17.5307 16.6955C18.5108 16.2895 19.2895 15.5108 19.6955 14.5307C20 13.7956 20 12.8638 20 11C20 9.13623 20 8.20435 19.6955 7.46927C19.2895 6.48915 18.5108 5.71046 17.5307 5.30448C16.7956 5 15.8638 5 14 5H12C8.22876 5 6.34315 5 5.17157 6.17157Z" fill="#2A4157" fill-opacity="0.24" />
                                    <path d="M8.5 9.5L15.5 9.5" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.5 12.5L13.5 12.5" stroke="#222222" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </i>
                            نظرات کاربران
                        </a>
                        <a class="ah-tab-item" href="">
                            <i>
                                <svg width="18px" height="18px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="0 0 512 512" xml:space="preserve">
                                <g>
                                <circle style="fill:#1FCFC1;" cx="256.551" cy="470.479" r="31.323" />
                                <path style="fill:#1FCFC1;" d="M256,401.786c-17.34,0-31.395-14.057-31.395-31.395v-97.04c0-17.34,14.057-31.395,31.395-31.395
                                                    c46.584,0,84.482-37.898,84.482-84.482S302.584,72.991,256,72.991s-84.482,37.898-84.482,84.482
                                                    c0,17.34-14.057,31.395-31.395,31.395s-31.395-14.057-31.395-31.395C108.727,76.266,174.793,10.199,256,10.199
                                                    s147.273,66.066,147.273,147.273c0,70.437-49.702,129.482-115.878,143.906v69.013C287.395,387.731,273.34,401.786,256,401.786z" />
                                            </g>
                                <g>
                                <path style="fill:#4D4D4D;" d="M256.55,512c-22.895,0-41.522-18.627-41.522-41.522s18.627-41.522,41.522-41.522
                                                    s41.522,18.627,41.522,41.522S279.445,512,256.55,512z M256.55,449.353c-11.647,0-21.124,9.476-21.124,21.124
                                                    c0,11.647,9.476,21.125,21.124,21.125s21.124-9.476,21.124-21.124C277.673,458.831,268.197,449.353,256.55,449.353z" />
                                <path style="fill:#4D4D4D;" d="M256,411.986c-22.935,0-41.594-18.659-41.594-41.594V273.35c0-22.935,18.659-41.594,41.594-41.594
                                                    c40.96,0,74.284-33.323,74.284-74.284S296.96,83.189,256,83.189s-74.284,33.323-74.284,74.284
                                                    c0,22.935-18.659,41.594-41.594,41.594s-41.594-18.659-41.594-41.594C98.527,70.642,169.169,0,256,0
                                                    s157.473,70.642,157.473,157.473c0,36.106-12.579,71.41-35.42,99.404c-20.756,25.44-49.086,43.867-80.458,52.489v61.025
                                                    C297.594,393.327,278.935,411.986,256,411.986z M256,62.79c52.208,0,94.682,42.475,94.682,94.682S308.208,252.154,256,252.154
                                                    c-11.687,0-21.196,9.509-21.196,21.196v97.041c0,11.687,9.509,21.196,21.196,21.196s21.196-9.509,21.196-21.196v-69.014
                                                    c0-4.796,3.341-8.944,8.028-9.966c62.493-13.62,107.85-69.95,107.85-133.94c0-75.582-61.491-137.073-137.074-137.073
                                                    S118.926,81.889,118.926,157.473c0,11.687,9.509,21.196,21.196,21.196s21.196-9.509,21.196-21.196
                                                    C161.318,105.265,203.792,62.79,256,62.79z" />
                                <path style="fill:#4D4D4D;" d="M256,379.41c-5.633,0-10.199-4.566-10.199-10.199v-59.155c0-5.633,4.566-10.199,10.199-10.199
                                                    c5.633,0,10.199,4.566,10.199,10.199v59.155C266.199,374.844,261.633,379.41,256,379.41z" />
                                <path style="fill:#4D4D4D;" d="M256,292.717c-5.633,0-10.199-4.566-10.199-10.199v-9.179c0-5.633,4.566-10.199,10.199-10.199
                                                    c5.633,0,10.199,4.566,10.199,10.199v9.179C266.199,288.151,261.633,292.717,256,292.717z" />
                                            </g>
                                        </svg>
                            </i> ثبت نظر

                        </a>
                    </div>
                </div>
                <div class="ah-tab-content-wrapper product-info px-4 dt-sl" style="padding-left: 20px !important;padding-right: 20px !important;">
                    <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                            <h2>نقد و بررسی</h2>
                        </div>
                        <div class="product-title dt-sl">
                            <h1>
                                @Model.Name
                            </h1>
                            <h3>@Model.Titel</h3>
                        </div>
                        <div class="description-product dt-sl mt-3 mb-3">
                            <div class="container">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="ah-tab-content params dt-sl">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                            <h2>مشخصات فنی</h2>
                        </div>
                        <div class="product-title dt-sl mb-3">
                            <h1>
                                @Model.Name
                            </h1>
                            <h3>@Model.Titel</h3>
                        </div>
                        <section>
                            <h3 class="params-title">مشخصات کلی</h3>
                            <ul class="params-list">

                                @foreach (var productFeature in Model.ProductFeatureValues)
                                {
                                    <li>
                                        <div class="params-list-key">
                                            <span class="d-block">@productFeature.FeatureName</span>
                                        </div>
                                        <div class="params-list-value">
                                            <span class="d-block">
                                                @productFeature.FeatureValue
                                            </span>
                                        </div>
                                    </li>
                                }


                            </ul>
                        </section>

                    </div>
                    <div class="ah-tab-content comments-tab dt-sl">
                        <div class="section-title title-wide no-after-title-wide mb-0 dt-sl">
                            <h2 class="mb-3">امتیاز کاربران به:</h2>
                        </div>
                        <div class="product-title dt-sl mb-3">
                            <h1>
                                @Model.Name
                            </h1>
                            <h3>
                                @Model.Titel
                                <span class="rate-product">(از  @Model.ScoreCount نظر)</span>
                            </h3>

                        </div>
                        <div class="dt-sl">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <ul class="content-expert-rating">
                                        <li>
                                            <div class="cell">امتیاز محصول</div>
                                            <div class="rating-stars">
                                                @for (var star = 1; star <= 5; star++)
                                                {
                                                    if (Model.AverageScore >= star)
                                                    {
                                                        <i class="fa fa-star active"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa fa-star"></i>

                                                    }
                                                }
                                            </div>
                                        </li>



                                        @*


                                        <li>
                                        <div class="cell">ارزش خرید</div>
                                        <div class="cell">
                                        <div class="rating rating--general" data-rate-digit="عالی">
                                        <div class="rating-rate" data-rate-value="100%"
                                        style="width: 20%;"></div>
                                        </div>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="cell">کیفیت ساخت</div>
                                        <div class="cell">
                                        <div class="rating rating--general" data-rate-digit="عالی">
                                        <div class="rating-rate" data-rate-value="100%"
                                        style="width: 80%;"></div>
                                        </div>
                                        </div>
                                        </li>
                                        <li>
                                        <div class="cell">امکانات و قابلیت ها</div>
                                        <div class="cell">
                                        <div class="rating rating--general" data-rate-digit="عالی">
                                        <div class="rating-rate" data-rate-value="100%"
                                        style="width: 30%;"></div>
                                        </div>
                                        </div>
                                        </li> *@
                                    </ul>



                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="comments-summary-note">
                                        <span>
                                            شما هم می‌توانید در مورد این کالا نظر
                                            بدهید.
                                        </span>
                                        <p>
                                            برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود
                                            شوید. اگر این محصول را قبلا از دیجی مارکت خریده
                                            باشید، نظر
                                            شما به عنوان مالک محصول ثبت خواهد شد.
                                        </p>
                                        <div class="dt-sl mt-2">
                                            <a href="#commenttag" class="btn-primary-cm btn-with-icon">
                                                <i>
                                                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.17157 6.17157C4 7.34315 4 9.22876 4 13V17V18.5858C4 19.4767 5.07714 19.9229 5.70711 19.2929L7.85355 17.1464C7.92581 17.0742 7.96194 17.0381 8.00788 17.019C8.05383 17 8.10492 17 8.20711 17H14C15.8638 17 16.7956 17 17.5307 16.6955C18.5108 16.2895 19.2895 15.5108 19.6955 14.5307C20 13.7956 20 12.8638 20 11C20 9.13623 20 8.20435 19.6955 7.46927C19.2895 6.48915 18.5108 5.71046 17.5307 5.30448C16.7956 5 15.8638 5 14 5H12C8.22876 5 6.34315 5 5.17157 6.17157Z" fill="#2A4157" fill-opacity="0.24"></path>
                                                        <path d="M8.5 9.5L15.5 9.5" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M8.5 12.5L13.5 12.5" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </i>
                                                افزودن نظر جدید
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="comments-area dt-sl mt-3">
                                <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                                    <h2>نظرات کاربران</h2>
                                    <p class="count-comment">@Model.CommentCount نظر</p>
                                </div>
                                <ol class="comment-list">
                                    <!-- #comment-## -->
                                    @foreach (var comment in Model.Comments)
                                    {
                                        <li>
                                            <div class="comment-body">
                                                <div class="row">

                                                    <div class="col-md-9 col-sm-12 comment-content">
                                                        <div class="comment-title">
                                                            @Model.Name
                                                        </div>
                                                        <div class="comment-author">
                                                            توسط @comment.FullName
                                                            در تاریخ @comment.DateOfRegistration.ToAD().ToString("yyyy/MM/dd")
                                                            ثبت شده است
                                                        </div>

                                                        <p>@comment.CommentText</p>


                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }


                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="ah-tab-content dt-sl">
                        <div class="section-title title-wide no-after-title-wide dt-sl">
                            <h2 class="mb-3">ثبت نظر</h2>
                            <p class="count-comment" style="font-weight: 500;font-size: 16px;color: #f26b7b;">نظر خود را در مورد محصول مطرح نمایید</p>
                        </div>
                        <div id="commentResult">
                            @if (TempData["ToastError"] != null)
                            {
                                <!-- Alert Box -->
                                <div id="resultMessage" class="alert alert-danger " role="alert">
                                    @TempData["ToastError"].ToString()
                                </div>
                            }

                            @if (TempData["ToastSuccess"] != null)
                            {
                                <!-- Alert Box -->
                                <div id="resultMessage" class="alert alert-success " role="alert">
                                    @TempData["ToastSuccess"].ToString()
                                </div>
                            }
                        </div>

                        <div id="commenttag" class="form-question-answer dt-sl mb-3">
                            <form id="commentForm">
                                <textarea name="comment.CommentText"
                                          id="commentInput"
                                          class="form-control mb-3"
                                          rows="5"
                                          maxlength="500"
                                          minlength="1"
                                          value=""
                                          required
                                          pattern="^(?=.*[a-zA-Z\u0600-\u06FF0-9]).*$"
                                          title="نظر باید بین 1 تا 500 کاراکتر باشد و حداقل شامل حروف فارسی یا انگلیسی باشد.">
                                    </textarea>

                                <input name="comment.ProductId" hidden readonly value="@Model.Id" />
                                <button type="submit" class="btn ml-3 w-100 mb-3" style="font-weight: 700; color: #fff; background-color: #ee384e;box-shadow: none;">ثبت پرسش</button>

                            </form>
                        </div>
                        <div id="scoreResult">
                            @if (TempData["ToastError"] != null)
                            {
                                <!-- Alert Box -->
                                <div id="resultMessage" class="alert alert-danger " role="alert">
                                    @TempData["ToastError"].ToString()
                                </div>
                            }

                            @if (TempData["ToastSuccess"] != null)
                            {
                                <!-- Alert Box -->
                                <div id="resultMessage" class="alert alert-success " role="alert">
                                    @TempData["ToastSuccess"].ToString()
                                </div>
                            }
                        </div>
                        <div id="ratingSection">
                            <div class="rating-stars">
                                <i class="fa fa-star" data-index="1"></i>
                                <i class="fa fa-star" data-index="2"></i>
                                <i class="fa fa-star" data-index="3"></i>
                                <i class="fa fa-star" data-index="4"></i>
                                <i class="fa fa-star" data-index="5"></i>
                            </div>
                            <!-- دکمه ثبت امتیاز -->
                            <button id="submitRating" class="btn btn-primary">ثبت امتیاز</button>
                        </div>

                    </div>
                </div>
            </section>
            <!-- End tabs -->
        </div>
        <!-- End Product -->


    </div>


</main>
<!--------------------------------- Main Content -->
@section FooterContent {


    <script src="~/assets/js/vendor/nouislider.min.js"></script>
    <script src="~/assets/js/vendor/jquery.horizontalmenu.js"></script>
    <script src="~/assets/js/vendor/jquery-stack-menu.min.js"></script>
    <script src="~/assets/js/vendor/jquery.fancybox.min.js"></script>
    <script src="~/assets/js/vendor/countdown.min.js"></script>
    <script src="~/assets/js/vendor/wNumb.js"></script>
    <script src="~/assets/js/vendor/ResizeSensor.min.js"></script>
    <script src="~/assets/plugin/chartjs/chart.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/js-product/js-product.js"></script>
}





@section Scripts {
    <script>

        $(document).ready(function () {
            
            $("#commentForm").on("submit", function (event) {
                event.preventDefault(); 

                const commentInput = $("#commentInput").val();   
                const productId = $("input[name='comment.ProductId']").val(); 

                if (!commentInput.trim()) {
                    alert("لطفاً نظر خود را وارد کنید.");
                    return;
                }

                $.ajax({
                    url: '/Product/AddComments',
                    type: "POST",
                    data: { CommentText: commentInput, ProductId: productId },
                    success: function (response) {
                        var content = $(response).find('#commentResult').html();

                        $("#commentResult").html(content);
                    },
                    error: function (xhr, status, error) {
                        console.error("خطا در ارسال درخواست:", error);
                    }
                });
            });
        });









        $(document).ready(function () {
            let selectedRating = 0;

            // اضافه کردن حالت فعال به ستاره‌ها
            $(".rating-stars .fa-star").on("mouseover", function () {
                var index = $(this).data("index");
                $(this).parent().children().each(function (i) {
                    if (i < index) {
                        $(this).addClass("active");
                    } else {
                        $(this).removeClass("active");
                    }
                });
            });

            // تغییر حالت ستاره‌ها هنگام کلیک
            $(".rating-stars .fa-star").on("click", function () {
                var index = $(this).data("index");
                selectedRating = index;  // ذخیره تعداد ستاره انتخابی

                $(this).parent().children().each(function (i) {
                    if (i < index) {
                        $(this).addClass("selected");
                    } else {
                        $(this).removeClass("selected");
                    }
                });
            });

            // پاک کردن حالت فعال بعد از ترک موس از روی ستاره‌ها
            $(".rating-stars .fa-star").on("mouseout", function () {
                $(this).parent().children().removeClass("active");
            });

            // ارسال امتیاز  
            $("#submitRating").on("click", function () {
                if (selectedRating > 0) {
                    $.ajax({
                        url: '/Product/AddScore',  
                        type: 'POST',
                        data: { StarRating: selectedRating, ProductId: '@Model.Id' }, 
                        success: function (response) {
                            var content = $(response).find("#scoreResult").html();

                            $("#scoreResult").html(content);
                        },
                        error: function (xhr, status, error) {
                            console.error("خطا در ارسال درخواست:", error);
                        }
                    });
                } else {
                    alert('لطفا ابتدا امتیاز خود را انتخاب کنید!');
                }
            });
        });




    </script>
}