@model DataTransferObject.DTOClasses.Person.Commands.LoginCommand
@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="fa" class="light-style customizer-hide" dir="rtl" data-theme="theme-default" data-assets-path="~/assets/" data-template="vertical-menu-template-no-customizer">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title>ورود ادمین | دیجی مارکت</title>

    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/seller-logo.png">

    <!-- Icons -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icons.css">

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-default.css">
    <link rel="stylesheet" href="~/assets/css/demo.css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/rtl.css">

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css">
    <!-- Vendor -->
    @*     <link rel="stylesheet" href="~/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css">
    *@
    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css">
    <!-- Helpers -->
    <script src="~/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/assets/js/config.js"></script>
</head>

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Register -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <a href="index.html" class="app-brand-link gap-2">
                                <img src="~/assets/img/svg/logo.svg" />

                                
                                <span class="app-brand-text demo h3 mb-0 fw-bold"></span>
                            </a>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-3 secondary-font">ورود ادمین</h4>
                        <p class="mb-4">لطفا اطلاعات حساب خودرا وارد کنید</p>

                        <form id="formAuthentication" class="mb-3" asp-area="Admin" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["returnurl"]" method="POST">
                            <div class="mb-3">
                                <label asp-for="@Model.Email" class="form-label">ایمیل</label>
                                <input type="text" asp-for="@Model.Email" class="form-control text-start" id="email" placeholder="ایمیل خود را وارد کنید" autofocus dir="ltr">
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>

                            </div>


                            <div class="mb-3">
                                <label asp-for="@Model.Password" class="form-label">رمز </label>
                                <input type="password" asp-for="@Model.Password" class="form-control text-start" placeholder="············" aria-describedby="password" dir="ltr">
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>

                            </div>



                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">رمز عبور</label>
                                    <a href="auth-forgot-password-basic.html">
                                        <small>رمز عبور را فراموش کردید؟</small>
                                    </a>
                                </div>

                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input asp-for="@Model.RememberMe" class="form-check-input" type="checkbox" id="remember-me">
                                    <span asp-validation-for="@Model.RememberMe" class="text-danger"></span>
                                    <label class="form-check-label" for="remember-me"> به خاطر سپاری </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">ورود</button>
                            </div>
                        </form>

                      


                    </div>
                </div>
                <!-- /Register -->
            </div>
        </div>
    </div>



    @*     ارور رو نشون میده
    *@

    @if (ViewData["ToastLogin"] != null)
    {
        <div class="position-fixed bottom-0 start-0 p-3" style="z-index: 1050;">
            <div class="bs-toast toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-danger text-white">
                    <div class="me-auto fw-semibold">خطا</div>
                    <small></small>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">@ViewData["ToastLogin"]</div>
            </div>
        </div>

    }



    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="~/assets/vendor/libs/hammer/hammer.js"></script>

    <script src="~/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="~/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="~/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    @*      <script src="~/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="~/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script> *@

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="~/assets/js/pages-auth.js"></script>
</body>
</html>