@using DataTransferObject.DTOClasses.Category.Results
@model List<CategoryResult>

<div id="tablecontent">
    <div class="container mt-5">
        <!-- Header with actions -->
        <div class="d-flex justify-content-center align-items-center mb-3">
            <div>
                <button onclick="AddCategory()" class="btn btn-primary me-2">اضافه کردن</button>
            </div>
            <div class="input-group" style="width: 500px;">
                <span class="input-group-text"> دسته بندی:</span>
                <input id="categoryInput" type="text" class="form-control" placeholder="نام دسته بندی">
                <select id="parentCategoryInput" name="SelectedId" class="form-control">
                    <option value="0" selected>هیچ کدام</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Id">@item.CategoryName</option>
                    }
                </select>
            </div>
        </div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="table-light">
                    <tr>

                        <th>ID</th>
                        <th>نام دسته بندی</th>
                        <th>نام دسته بندی پدر</th>
                        <th>شناسه پدر</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.CategoryName</td>
                            <td>@(category.ParentCategoryName?.ToString() ?? "root")</td>
                            <td>@(category.ParentCategoryId?.ToString() ?? "root")</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
        <!-- Footer with pagination and rows per page -->

    </div>

    @if (ViewData["Categoryerror"] != null)
    {
        <div class="position-fixed bottom-0 start-0 p-3" style="z-index: 1333050;">
            <div class="bs-toast toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-danger text-white">
                    <div class="me-auto fw-semibold">خطا</div>
                    <small></small>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">@ViewData["Categoryerror"]</div>
            </div>
        </div>

    }


</div>





@section Scripts {
    <script>


        function AddCategory() {
            var category = $("#categoryInput").val();
            var parentCategory = $("#parentCategoryInput").val();
            var value = { "CategoryName": category, "ParentCategoryId": parentCategory }
            
            $.ajax({
                url: '/admin/product/CreateCategory',
                type: "POST",
                data: value,

                success: function (response) {
                    var newBodyContent = $(response).find('#tablecontent').html();
                    $('#tablecontent').html(newBodyContent);
                },

            });
        }

    </script>
}



